snippet rfc "Creates a React Functional Component with ES7 module system (ES7+ React/Redux/React-Native snippets)" b
import React from 'react'

export default function `!p snip.rv = snip.basename`() {
	return (
		<div>${1}</div>
	)
}
endsnippet
